---
layout: default
pagination: 
  enabled: true
---

{% for post in paginator.posts %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title"><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
    <p class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</p>
  </header>

  <article class="post-content">
    {{ post.content }}
  </article>

  <br/>
  <br/>
</div>

{% endfor %}



<!-- Pagination trail-->

{% if paginator.page_trail %}
  <center>
	  
  {% if paginator.page != 1 %}
  <a href="{{ paginator.first_page_path }}" 
	 class="trail-other-page"><i class="fa fa-angle-double-left"></i></a>
  {% endif %}
  
  {% for trail in paginator.page_trail %}
  
  <a href="{{ trail.path | prepend: site.baseurl }}" 
     {% if page.url == trail.path %}
	 class= "trail-current-page"
	 {% else %}
	 class="trail-other-page"
	 {% endif %}>{{ trail.num }}</a>
	 
  {% endfor %}
  
  {% if paginator.page != paginator.total_pages %}
  <a href="{{ paginator.last_page_path }}" 
	 class="trail-other-page"><i class="fa fa-angle-double-right"></i></a>
  {% endif %}
  
  </center>
{% endif %}
