<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">	  

        <a class="page-link" href="{{ site.baseurl }}/">blog <i class="fa fa-bars"></i></a>
		
		<div class="dropdown">
		  <button class="dropbtn">galleries <i class="fa fa-angle-double-down"></i></button>
		  <div class="dropdown-content">
			<a href="{{ site.baseurl }}/portfolio">portfolio</a>	
			<a href="{{ site.baseurl }}/people">people</a>
			<a href="{{ site.baseurl }}/objects">objects</a>
			<a href="{{ site.baseurl }}/places">places</a>
		  </div>
		</div>
		
		<a class="page-link" href="{{ site.baseurl }}/about">about <i class="fa fa-user-circle-o"></i></a>
		
		<span style="padding-left: 30px"></span>
		
		<a class="page-link" href="mailto:you@example.com"><i class="fa fa-envelope-square fa-lg"></i></a>
		
		<a class="page-link" href="https://500px.com/scandariato" target="_blank"><i class="fa fa-500px fa-lg"></i></a>

    </nav>

  </div>
 
<script>
	$('.dropbtn').on('click', function () {
					
	  if ($('.dropdown-content').css('display') == 'none') {
	    // your menu is closed, so open it
		$('.dropdown-content').css('display','block');
	  } else {
	    // your menu is opened, so close it
	    $('.dropdown-content').css('display','none');
	  }
	});
</script>
	
</header>
