<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">

        <a class="page-link" href="{{ site.baseurl }}/">blog</a>
		
		<a class="page-link" href="{{ site.baseurl }}/portfolio">portfolio</a>	
		
		<div class="dropdown">
		  galleries <i class="fa fa-caret-down"></i>
		  <div class="dropdown-content">
			<a href="{{ site.baseurl }}/galleries/people">people</a>
			<a href="{{ site.baseurl }}/galleries/objects">objects</a>
			<a href="{{ site.baseurl }}/galleries/places">places</a>
		  </div>
		</div>
		
		<a class="page-link" href="{{ site.baseurl }}/about">about</a>

      </div>
    </nav>

  </div>

</header>
