/**
 * Default page
 */

.side-margins {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
}

.top-bottom-gap {
    padding-top: 130px; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
	padding-bottom: 30px;
}

/**
 * Posts
 */

.post-header {
	margin-bottom: $vertical-spacing-unit;
}

.post-title {
	font-size: 38px;
	letter-spacing: -1px;
	line-height: 1;
	@include media-query($on-laptop) {
		font-size: 36px;
	}
	font-family: 'Pacifico';
}

.post-description {
	padding-top: 15px;
	color: $grey-color-light;
}

.post-content {
	h2 {
		font-size: 42px;
		@include media-query($on-laptop) {
			font-size: 28px;
	    }
	}
	h3 {
		font-size: 30px;
		@include media-query($on-laptop) {
			font-size: 22px;
	    }
	}
	h4 {
		font-size: 20px;
		@include media-query($on-laptop) {
			font-size: 18px;
	    }
	}
	color: $grey-color-light;
	letter-spacing: 0.5px;
	font-size: 15px;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  margin-bottom: 0px; 
  padding-top: 15px;
}

/**
 * Posts
 */

.page-navigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
  
  .next {
	  text-align: right;
	  float: right;
	  width: 45%;
  }
  .prev {
	  text-align: left;
	  float: left;
	  width: 45%;
  }
}
