---
layout: default
---

<div class="post">
	
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <h4 class="post-meta">{{ page.description }}</h4>
  </header>

  <div id="gallery">
	  
    {% for image in page.images %}
      <a data-fancybox="slides" href="{{ site.galleries_path }}/{{ page.folder }}/{{ image.large }}">
        <img src="{{ site.galleries_path }}/{{ page.folder }}/{{ image.small }}">
      </a>
    {% endfor %}

    <script>
      $("#gallery").justifiedGallery({
        rowHeight : 120,
        margins : 10,
  	  border : 0,
        lastRow : 'justify'
      });
    </script>
	  
  </div>
  
</div>

